<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adams Scoresheet</title>
  </head>
  <body>
    <p>Here's the welcome page.  Obviously just a placeholder, gonna add devise sign in stuff in a minute.</p>
  </body>
</html>
